* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --raleway: "Raleway", sans-serif;
  --opensans: "Open Sans", sans-serif;
  --gradient: linear-gradient(to right, hsl(176, 68%, 64%) -40%, hsl(198, 60%, 50%) 100%);
}

body {
  background-color: hsl(220, 27%, 13%);
}
